@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}

.homeContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.homteTitle {
    width: 1024px;
    font-size: 20px;
}
